<style>
  
  body {
    background-position: center;
    background-color: #7abecc !important;
    background-repeat: no-repeat;
    background-size: cover;
    color: #212529 !important;
    font-family: "Rubik",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    text-transform: none;
}

.forgot{
	    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf;
}

.padding-bottom-3x {
    padding-bottom: 72px !important;
}

.card-footer{
	background-color: #fff;
}

.btn{ 

	font-size: 13px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #76b7e9;
    outline: 0;
    box-shadow: 0 0 0 0px #28a745;
}
               
</style>
<!--
<style>
  .form-gap {
    padding-top: 70px;
  }
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
---- Include the above in your HEAD tag ----------

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                      
                      {% csrf_token %}

                      {% for field in form %}
                          <div class="form-group">
                            <div class="input-group">
                              --<span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>--
                              {{ field.label_tag }}
                              {{ field }}
                              
                              {% if field.help_text %}
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                              {% endif %}
                              {% for error in field.errors %}
                                <div class="invalid-feedback">
                                  {{ error }}
                                </div>
                              {% endfor %}
                            </div>
                          </div>
                          <div class="form-group">
                            <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send me instructions!" type="submit">
                          </div>
                       {% endfor %}
                    </form>
                  -->

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container padding-bottom-3x mb-2 mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="forgot">
        
        <h2>Forgot your password?</h2>
      <p>Change your password in three easy steps. This will help you to secure your password!</p>
      <ol class="list-unstyled">
        <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
        <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
        <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
      </ol>

      </div>	
      
      <form class="card mt-4" method="post">
        {% csrf_token %}
        <div class="card-body">
        

          {% for field in form %}
              <div class="form-group">
                <label for="email-for-pass">Enter your email address</label>
                
                {{ field }}

                {% if field.help_text %}
                  <small class="form-text text-muted">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              </div>
            </div>
            <div class="card-footer">
              <button name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Send me instructions!" type="submit">Send me instructions!</button> <br>
              
              <button class="btn btn-danger" type="submit"><a href="{% url 'login' %}" style="color: white;">Back to Login</a> </button>
            </div>
         {% endfor %}
      </form>
    </div>
  </div>
</div>